# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
**/android/local.properties
.gradle/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
.DS_Store
